<!doctype html>
<html lang="pt-BR">
  <head >
    <meta charset="utf-8">
    <meta name="viewport">

    <title>{{titulo}} - BestTrade</title>
  </head>

    <body>
        <main>
            <div>
                <img src="../static/img/404.png " width=100% title="erro 404" alt="Imagem isometrica descontraida sobre o erro 404 (página não encontrada)">
                <p>Ops, algo de errado não esta certo, você digitou o caminho errado, volte para o sistema</p>

            </div>    

            
        </main>


    <footer>BestTrade - Por que deixar juntar poeira se você pode negociar?!</footer>
    </body>
</html>